*/build/*
*/bin/*
*gradle/*
*.jar
*.class
*.bin
*.lock
mcinterfaceforge1122/*
mcinterfaceforge1165/*
my_own_readme.md
*gradle.*
*gradlew*
mccore/build.gradle
build/*
compile.py
.vscode/*
*convert.py
*convert_plate.py
mccore/src/main/resources/assets/**/*_s.png
*.py
